.text {
  margin: 0;
  font-weight: 700;
  margin-bottom: var(--spacing-medium);
  font-size: 18px;
  color: var(--color-gray-dark);
  background: -webkit-linear-gradient(
    right bottom,
    #143212,
    #543233,
    #0e9efd,
    #7a543f
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
